@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site {

    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.container {
    width: 1310px;
    height: 100%;
    margin: 0 auto;
}

.cabecalho {
    height: 122px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #fff 0%, #dbdbdb 100%);
}

.cabecalho .container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.cabecalho .logo img {
    width: 165px;
}

.menu-cabecalho ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menu-cabecalho i {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    font-size: 12px;
    color: #fff;

    background-color: #9b9b9b;
    padding: 5px;
    border-radius: 50%;

    transition: all 0.3s ease;
}

.menu-cabecalho a {
    text-decoration: none;
}

.menu-cabecalho li:hover i {
    background-color: transparent;
    color: #9b9b9b;
}

/* MENU PRINCIPAL */

.menu {
    height: 55px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #fff 0%, #e4e4e4 100%);
}

.menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #003c6a;
    padding: 18px;
    font-weight: 500;
}

.menu a:hover {
    background-color: #fff;
}

/* BANNNER */

.banner {
    display: flex;
    width: 100%;
    overflow: hidden;
}

/* NOTICIAS E COMPETENCIAS */

.noticias-competencias {
    padding: 120px 0px;
    background-image: linear-gradient(180deg, #00315e 0%, #000825 100%);
}

.noticias-competencias .titulo {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
}

.noticias {
    display: flex;
    gap: 20px;
    position: relative;
}

.noticias .noticia {
    flex: 1 1 25%;
    background-color: #fff;

    border-radius: 20px;
    overflow: hidden;

}

.noticia .imagem {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.noticia .imagem img {
    width: 100%;
    transition: all 0.5s ease;
}

.noticia .imagem:hover img {
    scale: 1.15;
}

.noticia .data {
    width: 100%;
    background-color: #00315EBD;
    color: #50C4FF;
    padding: 8px 0;
    font-style: italic;
    text-align: center;

    position: absolute;
    z-index: 1;

    bottom: 0;
    transition: all 0.5s ease;
}

.noticia .imagem:hover .data {
    bottom: -35px;
}


.noticia .post {
    padding: 20px;
}

.noticia .post p {
    font-size: 17px;
    font-weight: 200;
    line-height: 22px;
    color: #003c6a;
}

.noticia .botao {
    padding: 20px;
    display: flex;
    justify-content: end;
}

.noticia .botao a {
    text-decoration: none;
    font-style: italic;
    background-color: #ebebeb;
    color: #0082c4;
    padding: 4px 15px;
    border-radius: 25px;
}

.noticia .botao a:hover {
    background-color: #0082c4;
    color: #ebebeb;
}

.noticias .rodape-noticias {
    position: absolute;
    bottom: -30px;
    font-size: 15px;
    font-style: italic;
    right: 0px;
    color: white;

}

/* COMPETENCIAS */

.competencias {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.competencias .competencia {
    flex: 0 1 32%;
    overflow: hidden;
    border-radius: 10px;

    position: relative;

    border: solid 1px #4fc4ff60;
}

.competencias .competencia img {
    width: 100%;
    transition: all 1.3s ease;
}

.competencias .competencia:hover img {
    scale: 1.15;
}

.competencias .competencia .texto-competencia {
    width: 80%;
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 10%;
}

/* OPORTUNIDADES */

.caixa-oportunidades {
    padding: 160px 0px;

}

.caixa-oportunidades .oportunidades {
    display: flex;
    align-items: center;
    height: 350px;
    justify-content: space-around;
}

.caixa-oportunidades .container .oportunidades .oportunidade {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    position: relative;
    border: 0.5px solid #FFFC77;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin: 10px;
}

.amarelo {
    background-color: #FAB518;
}

.verde {
    background-color: #009339;
}

.azul {
    background-color: #0082C4;
}

.vermelho {
    background-color: #E40F1C;
}

.texto-oportunidade {
    display: flex;
    position: absolute;
    font-size: 25px;
    color: white;
    font-weight: bold;
    top: 25px;
    left: 20px;

}

.opcao-oportunidade {
    position: relative;
    transition: all 0.7s ease;
    display: flex;
    align-items: center;
    border-radius: 35px;
    height: 50px;
    width: 85%;
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
}

.opcao-oportunidade:hover {
    scale: 1.10;
}

.amarelo .opcao-oportunidade .texto-oportunidade-2 {
    position: absolute;
    left: 40px;
    color: #FAB518;
    font-weight: bold;
    font-size: 100%;
}

.verde .opcao-oportunidade .texto-oportunidade-2 {
    position: absolute;
    left: 40px;
    color: #009339;
    font-weight: bold;
    font-size: 100%;
}

.azul .opcao-oportunidade .texto-oportunidade-2 {
    position: absolute;
    left: 40px;
    color: #0082C4;
    font-weight: bold;
    font-size: 100%;
}

.vermelho .opcao-oportunidade .texto-oportunidade-2 {
    position: absolute;
    left: 40px;
    color: #E40F1C;
    font-weight: bold;
    font-size: 100%;
}

/* RODAPE */

.rodape {
    height: 400px;
    background-image: linear-gradient(180deg, #00315e 0%, #000825 100%);
    color: white;
}

.rodape .container {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    gap: 50px;
}

.rodape-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.rodape-2 {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.rodape-2 .links {
    position: absolute;
    left: 50px;
    top: 50px;
}

.rodape-1 img {
    height: 50px;
    margin-bottom: 10px;
}

.rodape-1 ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.rodape-1 li i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0082C4;
    color: #00315E;
    border-radius: 50%;
    font-size: 18px;
    padding: 8px;
    transition: all 0.2s ease;
}

.rodape-1 a {
    text-decoration: none;
}

.rodape-1 li i:hover {
    background-color: #00315E;
    color: #0082C4;
    border: solid 0.5px #0082C4;
}

.rodape-1 p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.rodape .botao {
    display: inline-block;
    background: linear-gradient(180deg, #0082C4 0%, #005F92 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.rodape-2 .botao {
    position: absolute;
    top: 40px;
}


.rodape .botao:hover {
    background: linear-gradient(180deg, #005F92 0%, #003E66 100%);
}

.rodape .rodape-2 ul li {
    list-style: none;
}

.rodape .rodape-2 ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.rodape .rodape-2 ul li a:hover {
    color: #0082C4;
}